.List {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  margin: 0;
  padding: 2vw;

  max-width: 60rem;
  margin: 0 auto;
}

.ListItem {
  background: #fff;
  box-shadow: 0 2px 3px -2px rgb(0 0 0 / 40%);
  border-radius: 6px;
  border: 1px solid #efefef;
  padding: 0.4rem;

  width: 100%;
}

.ListItem + .ListItem {
  margin-top: 1rem;
}

.ListItem gif-player {
  display: block;
}

.ListItem__Content {
  border-radius: 3px;
  overflow: hidden;
}

.ListItem__Controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

/* .ListItem__Controls::before {
  content: "";
  top: -0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  width: 95%;
} */

.ListItem__Copy {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  font-family: "Varela Round", sans-serif;
}

.ListItem__Copy div:first-child {
  flex: 1;
}
.ListItem__Copy div:last-child {
  flex: 0 1 auto;
}

.ListItem__Copy button {
  font-family: inherit;
  padding: 0.5rem;
  font-size: 1rem;
}

.CopyLinkTitle {
  font-size: 1.2rem;
  opacity: 0.7;
  margin-right: 1vw;
}

.InputWrapper {
  display: flex;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}
.CopyLinkLabel {
  flex: 1;
}

.CopyLinkTextField {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0.2rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
